/* ==========================================================================
   Blog styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* mixins styles - start */
/* mixins styles - end */
/* ==========================================================================
   Blog Common style - begin
   ========================================================================== */
.edgtf-blog-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 60px;
  clear: both;
}

.edgtf-blog-holder article {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.edgtf-blog-holder article.sticky .edgtf-post-title a {
  color: #35c5d5;
}

.edgtf-blog-holder article .edgtf-post-content {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.edgtf-blog-holder article .edgtf-post-image {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

.edgtf-blog-holder article .edgtf-post-image img {
  display: block;
}

.edgtf-blog-holder article .edgtf-post-image-background {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.edgtf-blog-holder article .edgtf-post-image-background a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.edgtf-blog-holder article .edgtf-post-image-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  line-height: 1;
  color: #fff;
}

.edgtf-blog-holder article .edgtf-post-text {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.edgtf-blog-holder article .edgtf-post-title {
  margin: 0;
}

.edgtf-blog-holder article .edgtf-post-excerpt-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 18px 0 0;
}

.edgtf-blog-holder article .edgtf-post-excerpt-holder p {
  margin: 0;
}

.edgtf-blog-holder article .edgtf-post-excerpt:after {
  content: '...';
}

.edgtf-blog-holder article .edgtf-post-read-more-button,
.edgtf-blog-holder article .edgtf-more-link-container {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 13px 0 0;
}

.edgtf-blog-holder article .edgtf-post-info-standard {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin-bottom: 6px;
  clear: both;
}

.edgtf-blog-holder article .edgtf-post-info-standard > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding-right: 13px;
  margin-right: 4px;
}

.edgtf-blog-holder article .edgtf-post-info-standard > div:last-child {
  margin-right: 0;
}

.edgtf-blog-holder article .edgtf-post-info-standard > div:last-child:after {
  display: none;
}

.edgtf-blog-holder article .edgtf-post-info-standard > div:after {
  content: '/';
  position: absolute;
  top: 0;
  right: 0;
}

.edgtf-blog-holder article .edgtf-post-info-standard > div a {
  color: #6a6a6a;
}

.edgtf-blog-holder article .edgtf-post-info-standard > div a:hover {
  color: #35c5d5;
}

.edgtf-blog-holder article .edgtf-post-info-standard-bottom {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin-top: 31px;
  clear: both;
}

.edgtf-blog-holder article .edgtf-post-info-standard-bottom > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  float: left;
  margin-right: 15px;
}

.edgtf-blog-holder article .edgtf-post-info-standard-bottom > div:last-child {
  margin-right: 0;
}

.edgtf-blog-holder article .edgtf-post-info-standard-bottom > div a:not(.edgtf-share-link) {
  color: #6a6a6a;
}

.edgtf-blog-holder article .edgtf-post-info-standard-bottom > div a:not(.edgtf-share-link):hover {
  color: #35c5d5;
}

.edgtf-blog-holder article .edgtf-post-info-standard-bottom > div i {
  margin-right: 2px;
  color: #232322;
}

.edgtf-blog-holder article .edgtf-post-info-standard-bottom > div.edgtf-post-info-author .edgtf-post-info-author-image {
  display: none;
}

.edgtf-blog-holder article .edgtf-post-info-standard-bottom > div.edgtf-post-info-author .edgtf-post-info-author-text {
  text-transform: capitalize;
}

.edgtf-blog-holder article .edgtf-post-info-standard-bottom > div.edgtf-blog-like a.liked i {
  color: #35c5d5;
}

.edgtf-blog-holder article .edgtf-post-info-standard-bottom > div.edgtf-blog-like a i {
  margin-right: 7px;
}

.edgtf-blog-holder article .edgtf-post-info-standard-bottom > div.edgtf-blog-share ul li {
  margin-bottom: 0;
}

.edgtf-blog-holder article .edgtf-post-info {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  clear: both;
}

.edgtf-blog-holder article .edgtf-post-info > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  float: left;
  margin-right: 15px;
}

.edgtf-blog-holder article .edgtf-post-info > div:last-child {
  margin-right: 0;
}

.edgtf-blog-holder article .edgtf-post-info > div a {
  display: block;
  line-height: inherit;
}

.edgtf-blog-holder article .edgtf-post-info-top {
  margin: 0 0 9px;
}

.edgtf-blog-holder article .edgtf-post-info-bottom {
  margin: 29px 0 0;
}

.edgtf-blog-holder article .edgtf-post-info-bottom > div {
  line-height: 1;
}

.edgtf-blog-holder article .edgtf-post-info-bottom > div.edgtf-post-info-author a {
  line-height: 20px;
}

.edgtf-blog-holder article .edgtf-post-info-bottom > div.edgtf-post-info-author a > span {
  display: inline-block;
  vertical-align: top;
  line-height: inherit;
}

.edgtf-blog-holder article .edgtf-post-info-bottom > div.edgtf-post-info-author img {
  display: block;
  margin-right: 4px;
  border-radius: 100%;
}

.edgtf-blog-holder article.format-quote .edgtf-post-text {
  padding: 64px 10% 59px;
  background-color: #35c5d5;
  text-align: center;
}

.edgtf-blog-holder article.format-quote .edgtf-post-title {
  color: #fff;
}

.edgtf-blog-holder article.format-quote .edgtf-post-title a {
  color: inherit;
}

.edgtf-blog-holder article.format-quote .edgtf-quote-author {
  margin: 30px 0 0;
  color: #fff;
}

.edgtf-blog-holder article.format-link .edgtf-post-text {
  padding: 64px 72px;
  background-color: #232322;
}

.edgtf-blog-holder article.format-link .edgtf-post-title a {
  color: #fff;
  text-decoration: underline;
}

.edgtf-blog-holder article.format-link .edgtf-post-title a:hover {
  color: #35c5d5;
}

.edgtf-blog-holder article.format-gallery .edgtf-post-image {
  width: 100%;
}

.edgtf-blog-holder article.format-gallery .owl-carousel .owl-item {
  z-index: 2;
}

.edgtf-blog-holder article.format-gallery .owl-carousel .owl-item.active {
  z-index: 3;
}

.edgtf-blog-holder article.format-audio.has-post-thumbnail .edgtf-post-heading {
  position: relative;
}

.edgtf-blog-holder article.format-audio.has-post-thumbnail .edgtf-blog-audio-holder {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.edgtf-blog-holder article.format-audio .edgtf-post-image {
  width: 100%;
  max-width: inherit;
}

.edgtf-blog-holder article.format-audio .edgtf-post-image img {
  width: 100%;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container, .edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-embed, .edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-embed body, .edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls {
  background: none;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container {
  background-color: #232322;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container,
.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls {
  height: 38px !important;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls {
  padding: 0 10px 0 4px;
  box-sizing: border-box;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button {
  width: 39px;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button {
  width: 30px;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button,
.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button {
  height: 38px;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button button,
.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button button {
  position: relative;
  height: 100%;
  background: none;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  border: 0;
  outline: none;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-play button,
.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-play button {
  width: 39px;
  background-image: url("../img/audio/play.png");
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-pause button,
.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-pause button {
  width: 39px;
  background-image: url("../img/audio/pause.png");
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-stop button,
.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-stop button {
  width: 39px;
  background-image: url("../img/audio/stop.png");
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-mute button,
.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-mute button {
  width: 30px;
  background-image: url("../img/audio/sound.png");
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-unmute button,
.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-unmute button {
  width: 30px;
  background-image: url("../img/audio/mute.png");
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time {
  height: 100%;
  padding: 0;
  font-family: inherit;
  font-size: 13px;
  color: #fff;
  line-height: 36px;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail {
  height: 100%;
  padding: 0;
  font-family: inherit;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total {
  height: 5px;
  margin: 15px 0;
  background: none;
  background-color: #fff;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-current {
  height: 5px;
  background-color: #35c5d5;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-buffering,
.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-hovered {
  height: 5px;
  z-index: 9999;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-hovered {
  background: rgba(0, 0, 0, 0.5);
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float {
  top: -16px;
  border: 0;
  color: #fff;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-handle-content {
  display: none;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float-corner {
  top: 11px;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-loaded,
.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float {
  background: none;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider {
  height: 38px;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  height: 5px;
  background: none;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  top: 15px;
  background-color: #fff;
}

.edgtf-blog-holder article.format-audio .edgtf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background-color: #35c5d5;
}

.edgtf-blog-holder article.format-video .edgtf-self-hosted-video {
  max-width: 100%;
}

/* ==========================================================================
   Blog Common style - end
   ========================================================================== */
/* ==========================================================================
   Blog Masonry general style - begin
   ========================================================================== */
.edgtf-blog-holder.edgtf-blog-type-masonry {
  /***** Number of Columns - begin *****/
  /***** Number of Columns - end *****/
  /***** Space on container if full width - start *****/
  /***** Space on container if full width - end *****/
}

.edgtf-blog-holder.edgtf-blog-type-masonry .edgtf-blog-holder-inner {
  opacity: 0;
}

.edgtf-blog-holder.edgtf-blog-type-masonry article {
  float: left;
}

.edgtf-blog-holder.edgtf-blog-type-masonry article .edgtf-post-heading:hover ~ .edgtf-post-text .edgtf-post-title a {
  color: #35c5d5;
}

.edgtf-blog-holder.edgtf-blog-type-masonry article,
.edgtf-blog-holder.edgtf-blog-type-masonry .edgtf-blog-masonry-grid-sizer {
  width: 100%;
}

.edgtf-blog-holder.edgtf-blog-type-masonry .edgtf-blog-masonry-grid-gutter {
  width: 0;
}

.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-two-columns article,
.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-two-columns .edgtf-blog-masonry-grid-sizer {
  width: 50%;
}

.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-two-columns article.edgtf-post-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-two-columns article.edgtf-post-size-large-width-height {
  width: 100%;
}

.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-three-columns article,
.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-three-columns .edgtf-blog-masonry-grid-sizer {
  width: 33.33333%;
}

.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-three-columns article.edgtf-post-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-three-columns article.edgtf-post-size-large-width-height {
  width: 66.66667%;
}

.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns article,
.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns .edgtf-blog-masonry-grid-sizer {
  width: 25%;
}

.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns article.edgtf-post-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns article.edgtf-post-size-large-width-height {
  width: 50%;
}

.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article,
.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns .edgtf-blog-masonry-grid-sizer {
  width: 20%;
}

.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article.edgtf-post-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article.edgtf-post-size-large-width-height {
  width: 40%;
}

.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-six-columns article,
.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-six-columns .edgtf-blog-masonry-grid-sizer {
  width: 16.66667%;
}

.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-six-columns article.edgtf-post-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-six-columns article.edgtf-post-size-large-width-height {
  width: 33.33333%;
}

.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-masonry-full-width {
  box-sizing: border-box;
}

.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-masonry-full-width.edgtf-no-space {
  padding: 0 0px;
}

.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-masonry-full-width.edgtf-tiny-space {
  padding: 0 10px;
}

.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-masonry-full-width.edgtf-small-space {
  padding: 0 20px;
}

.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-masonry-full-width.edgtf-normal-space {
  padding: 0 30px;
}

.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-masonry-full-width.edgtf-medium-space {
  padding: 0 40px;
}

.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-masonry-full-width.edgtf-large-space {
  padding: 0 50px;
}

.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-masonry-appear-fx-yes article {
  visibility: hidden;
}

.touch .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-masonry-appear-fx-yes article,
.no-touch .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-masonry-appear-fx-yes article {
  visibility: visible;
}

.no-touch .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-masonry-appear-fx-yes article {
  opacity: 0;
  -webkit-transform: translate3d(0, 80px, 0);
  -moz-transform: translate3d(0, 80px, 0);
  transform: translate3d(0, 80px, 0);
}

.no-touch .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-masonry-appear-fx-yes article.edgtf-appeared {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: opacity 0.6s, -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.6s, transform 1s cubic-bezier(0.23, 1, 0.32, 1);
}

/* ==========================================================================
   Blog Masonry general style - end
   ========================================================================== */
/* ==========================================================================
   Blog pagination standard style - begin
   ========================================================================== */
.edgtf-blog-pagination-wp {
  display: none;
}

.edgtf-blog-pagination {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 10px 0 25px;
  clear: both;
}

.edgtf-blog-pagination ul {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.edgtf-blog-pagination ul li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 12px;
}

.edgtf-blog-pagination ul li a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
}

.edgtf-blog-pagination ul li a.edgtf-pag-active {
  color: #35c5d5;
}

.edgtf-blog-pagination ul li.edgtf-pag-prev, .edgtf-blog-pagination ul li.edgtf-pag-next, .edgtf-blog-pagination ul li.edgtf-pag-first, .edgtf-blog-pagination ul li.edgtf-pag-last {
  top: -1px;
}

.edgtf-blog-pagination ul li.edgtf-pag-prev a, .edgtf-blog-pagination ul li.edgtf-pag-next a, .edgtf-blog-pagination ul li.edgtf-pag-first a, .edgtf-blog-pagination ul li.edgtf-pag-last a {
  font-size: 14px;
}

.edgtf-blog-pagination ul li.edgtf-pag-prev a span, .edgtf-blog-pagination ul li.edgtf-pag-next a span, .edgtf-blog-pagination ul li.edgtf-pag-first a span, .edgtf-blog-pagination ul li.edgtf-pag-last a span {
  display: block;
  line-height: inherit;
}

.edgtf-blog-pagination ul li.edgtf-pag-prev a span:before, .edgtf-blog-pagination ul li.edgtf-pag-next a span:before, .edgtf-blog-pagination ul li.edgtf-pag-first a span:before, .edgtf-blog-pagination ul li.edgtf-pag-last a span:before {
  display: block;
  line-height: inherit;
}

/* ==========================================================================
   Blog pagination standard style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode pagination standard style - begin
   ========================================================================== */
.edgtf-blog-list-holder.edgtf-bl-pag-standard-shortcodes .edgtf-blog-list {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.edgtf-blog-list-holder.edgtf-bl-pag-standard-shortcodes.edgtf-bl-pag-standard-shortcodes-animate .edgtf-blog-list {
  opacity: 0;
}

.edgtf-bl-standard-pagination {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 20px 0 0;
  clear: both;
}

.edgtf-bl-standard-pagination ul {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.edgtf-bl-standard-pagination ul li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 12px;
  padding: 0;
}

.edgtf-bl-standard-pagination ul li a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
}

.edgtf-bl-standard-pagination ul li.edgtf-bl-pag-active a {
  color: #35c5d5;
}

.edgtf-bl-standard-pagination ul li.edgtf-bl-pag-prev, .edgtf-bl-standard-pagination ul li.edgtf-bl-pag-next {
  position: absolute;
  top: 0;
}

.edgtf-bl-standard-pagination ul li.edgtf-bl-pag-prev a, .edgtf-bl-standard-pagination ul li.edgtf-bl-pag-next a {
  font-size: 14px;
  -webkit-transition: color 0.2s ease-out, opacity 0.2s ease-out;
  -moz-transition: color 0.2s ease-out, opacity 0.2s ease-out;
  transition: color 0.2s ease-out, opacity 0.2s ease-out;
}

.edgtf-bl-standard-pagination ul li.edgtf-bl-pag-prev a span, .edgtf-bl-standard-pagination ul li.edgtf-bl-pag-next a span {
  display: block;
  line-height: inherit;
}

.edgtf-bl-standard-pagination ul li.edgtf-bl-pag-prev a span:before, .edgtf-bl-standard-pagination ul li.edgtf-bl-pag-next a span:before {
  display: block;
  line-height: inherit;
}

.edgtf-bl-standard-pagination ul li.edgtf-bl-pag-prev {
  left: 0;
}

.edgtf-bl-standard-pagination ul li.edgtf-bl-pag-prev a {
  opacity: 0;
}

.edgtf-bl-standard-pagination ul li.edgtf-bl-pag-next {
  right: 0;
}

.edgtf-bl-standard-pagination ul li.edgtf-bl-pag-next a {
  opacity: 1;
}

/* ==========================================================================
   Blog List shortcode pagination standard style - end
   ========================================================================== */
/* ==========================================================================
   Blog pagination load more style - begin
   ========================================================================== */
.edgtf-blog-pag-load-more {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 40px 0 30px;
  text-align: center;
}

/* ==========================================================================
   Blog pagination load more style - end
   ========================================================================== */
/* ==========================================================================
   Blog pagination loading element style - begin
   ========================================================================== */
.edgtf-blog-pag-loading {
  position: relative;
  display: none;
  width: 100%;
  margin: 40px 0 20px;
  color: #232322;
  text-align: center;
}

.edgtf-blog-pag-loading.edgtf-standard-pag-trigger {
  position: absolute;
  top: 50px;
  left: 0;
}

.edgtf-blog-pag-loading.edgtf-showing {
  display: block;
}

.edgtf-blog-pag-loading > div {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  margin: 0 3px;
  background-color: #232322;
  border-radius: 100%;
  -webkit-animation: bl-pag-bouncedelay 1.4s infinite ease-in-out both;
  -moz-animation: bl-pag-bouncedelay 1.4s infinite ease-in-out both;
  animation: bl-pag-bouncedelay 1.4s infinite ease-in-out both;
}

.edgtf-blog-pag-loading .edgtf-blog-pag-bounce1 {
  -webkit-animation-delay: -0.32s;
  -moz-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.edgtf-blog-pag-loading .edgtf-blog-pag-bounce2 {
  -webkit-animation-delay: -0.16s;
  -moz-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bl-pag-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes bl-pag-bouncedelay {
  0%, 80%, 100% {
    -moz-transform: scale(0);
  }
  40% {
    -moz-transform: scale(1);
  }
}

@keyframes bl-pag-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* ==========================================================================
   Blog pagination loading element style - end
   ========================================================================== */
/* ==========================================================================
   Blog List - Masonry style - begin
   ========================================================================== */
.edgtf-blog-holder.edgtf-blog-masonry article {
  margin: 0 0 20px;
  padding: 0 0 30px;
}

.edgtf-blog-holder.edgtf-blog-masonry article .edgtf-post-text {
  padding: 31px 30px 37px;
  background-color: #fff;
  box-sizing: border-box;
}

.edgtf-blog-holder.edgtf-blog-masonry article .edgtf-post-excerpt-holder {
  margin-top: 12px;
}

/* ==========================================================================
   Blog List - Masonry style - end
   ========================================================================== */
/* ==========================================================================
   Blog List - Standard style - begin
   ========================================================================== */
.edgtf-blog-holder.edgtf-blog-standard article {
  margin: 0 0 90px;
  padding: 0;
}

.edgtf-blog-holder.edgtf-blog-standard article.has-post-thumbnail .edgtf-post-heading, .edgtf-blog-holder.edgtf-blog-standard article.edgtf-post-has-media .edgtf-post-heading {
  margin-bottom: 40px;
}

.edgtf-blog-holder.edgtf-blog-standard article.format-quote .edgtf-post-content {
  margin-bottom: 10px;
}

.edgtf-blog-holder.edgtf-blog-standard article.format-link .edgtf-post-content {
  margin-bottom: 10px;
}

/* ==========================================================================
   Blog List - Standard style - end
   ========================================================================== */
/* Single author box styles - begin
	====================================================================== */
.edgtf-author-description {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.edgtf-author-description .edgtf-author-description-inner {
  padding: 41px 0 55px;
  min-height: 152px;
  clear: both;
}

.edgtf-author-description .edgtf-author-description-image {
  float: left;
  width: 152px;
}

.edgtf-author-description .edgtf-author-description-image img {
  display: block;
  border-radius: 100%;
}

.edgtf-author-description .edgtf-author-description-content {
  padding: 0 0 0 196px;
  min-height: 152px;
}

.edgtf-author-description .edgtf-author-description-content .edgtf-author-name {
  margin: 0;
}

.edgtf-author-description .edgtf-author-description-content .edgtf-author-email {
  margin: 5px 0 0;
}

.edgtf-author-description .edgtf-author-description-content .edgtf-author-text {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.edgtf-author-description .edgtf-author-description-content .edgtf-author-text > p {
  margin: 14px 0 7px;
}

.edgtf-author-description .edgtf-author-description-content .edgtf-author-social-icons {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin-top: 20px;
}

.edgtf-author-description .edgtf-author-description-content .edgtf-author-social-icons a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0 26px 0 0;
  font-size: 17px;
}

.edgtf-author-description .edgtf-author-description-content .edgtf-author-social-icons a:last-child {
  margin: 0;
}

/* Single author box styles - end
	====================================================================== */
/* Single posts navigation styles - begin
    ====================================================================== */
.edgtf-blog-single-navigation {
  position: relative;
  display: table;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  clear: both;
  box-sizing: border-box;
}

.edgtf-blog-single-navigation .edgtf-blog-single-navigation-inner {
  padding: 50px 0 55px;
}

.edgtf-blog-single-navigation .edgtf-blog-single-prev,
.edgtf-blog-single-navigation .edgtf-blog-single-next {
  position: relative;
  display: table;
  width: 50%;
  height: 81px;
  min-height: 81px;
  color: #35c5d5;
}

.edgtf-blog-single-navigation .edgtf-blog-single-prev:hover .edgtf-blog-single-nav-title,
.edgtf-blog-single-navigation .edgtf-blog-single-next:hover .edgtf-blog-single-nav-title {
  color: #35c5d5;
}

.edgtf-blog-single-navigation .edgtf-blog-single-prev img,
.edgtf-blog-single-navigation .edgtf-blog-single-next img {
  position: absolute;
  top: 0;
  width: 81px;
}

.edgtf-blog-single-navigation .edgtf-blog-single-prev .edgtf-blog-single-nav-info,
.edgtf-blog-single-navigation .edgtf-blog-single-next .edgtf-blog-single-nav-info {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

.edgtf-blog-single-navigation .edgtf-blog-single-prev .edgtf-blog-single-nav-title,
.edgtf-blog-single-navigation .edgtf-blog-single-next .edgtf-blog-single-nav-title {
  display: block;
  margin-bottom: 1px;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  line-height: 1.363636363636364em;
  font-weight: 700;
  color: #232322;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.edgtf-blog-single-navigation .edgtf-blog-single-prev .edgtf-blog-single-nav-mark,
.edgtf-blog-single-navigation .edgtf-blog-single-next .edgtf-blog-single-nav-mark {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: inherit;
}

.edgtf-blog-single-navigation .edgtf-blog-single-prev .edgtf-blog-single-nav-mark:before,
.edgtf-blog-single-navigation .edgtf-blog-single-next .edgtf-blog-single-nav-mark:before {
  display: block;
  line-height: inherit;
}

.edgtf-blog-single-navigation .edgtf-blog-single-prev .edgtf-blog-single-nav-label,
.edgtf-blog-single-navigation .edgtf-blog-single-next .edgtf-blog-single-nav-label {
  display: inline-block;
  vertical-align: top;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: inherit;
  font-weight: 700;
}

.edgtf-blog-single-navigation .edgtf-blog-single-prev {
  float: left;
}

.edgtf-blog-single-navigation .edgtf-blog-single-prev img {
  left: 0;
}

.edgtf-blog-single-navigation .edgtf-blog-single-prev .edgtf-blog-single-nav-info {
  padding-left: 103px;
}

.edgtf-blog-single-navigation .edgtf-blog-single-prev .edgtf-blog-single-nav-mark {
  margin-right: 17px;
}

.edgtf-blog-single-navigation .edgtf-blog-single-next {
  float: right;
  text-align: right;
}

.edgtf-blog-single-navigation .edgtf-blog-single-next img {
  right: 0;
}

.edgtf-blog-single-navigation .edgtf-blog-single-next .edgtf-blog-single-nav-info {
  padding-right: 103px;
}

.edgtf-blog-single-navigation .edgtf-blog-single-next .edgtf-blog-single-nav-mark {
  float: right;
  margin-left: 17px;
}

.edgtf-single-links-pages {
  clear: both;
  margin: 20px 0 5px;
}

.edgtf-single-links-pages .edgtf-single-links-pages-inner > a,
.edgtf-single-links-pages .edgtf-single-links-pages-inner > span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px 5px 0;
}

/* Single posts navigation styles - end
    ====================================================================== */
/* Related posts styles - begin
	====================================================================== */
.edgtf-related-posts-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  box-sizing: border-box;
}

.edgtf-related-posts-holder .edgtf-related-posts-holder-inner {
  padding: 46px 0 26px;
}

.edgtf-related-posts-holder .edgtf-related-posts-title {
  margin: 0 0 30px;
}

.edgtf-related-posts-holder .edgtf-related-posts-title > * {
  margin: 0;
}

.edgtf-related-posts-holder .edgtf-related-posts-inner {
  margin: 0 -15px;
}

.edgtf-related-posts-holder .edgtf-related-post {
  position: relative;
  display: inline-block;
  float: left;
  width: 25%;
  margin: 0 0 30px;
  padding: 0 15px;
  box-sizing: border-box;
}

.edgtf-content-has-sidebar .edgtf-related-posts-holder .edgtf-related-post {
  widtH: 33.33333333333333%;
}

.touch .edgtf-related-posts-holder .edgtf-related-post {
  cursor: pointer;
}

.edgtf-related-posts-holder .edgtf-related-post:hover .edgtf-related-post-image a:after {
  opacity: 1;
}

.edgtf-related-posts-holder .edgtf-related-post .edgtf-related-post-image {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
}

.edgtf-related-posts-holder .edgtf-related-post .edgtf-related-post-image a {
  position: relative;
  display: block;
}

.edgtf-related-posts-holder .edgtf-related-post .edgtf-related-post-image a:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  background-color: rgba(35, 35, 34, 0.4);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.edgtf-related-posts-holder .edgtf-related-post .edgtf-related-post-image img {
  display: block;
}

.edgtf-related-posts-holder .edgtf-related-post .edgtf-post-title {
  margin: 24px 0 0;
}

.edgtf-related-posts-holder .edgtf-related-post .edgtf-post-info {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  clear: both;
}

.edgtf-related-posts-holder .edgtf-related-post .edgtf-post-info > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  float: left;
  margin-right: 15px;
}

.edgtf-related-posts-holder .edgtf-related-post .edgtf-post-info > div:last-child {
  margin-right: 0;
}

.edgtf-related-posts-holder .edgtf-related-post .edgtf-post-info > div a {
  display: block;
  line-height: inherit;
}

.edgtf-related-posts-holder .edgtf-related-post .edgtf-post-info-bottom {
  margin: 9px 0 0;
}

.edgtf-related-posts-holder .edgtf-related-post .edgtf-post-info-bottom > div {
  line-height: 20px;
}

.edgtf-related-posts-holder .edgtf-related-post .edgtf-post-info-bottom > div.edgtf-post-info-author a > span {
  display: inline-block;
  vertical-align: top;
  line-height: inherit;
}

.edgtf-related-posts-holder .edgtf-related-post .edgtf-post-info-bottom > div.edgtf-post-info-author img {
  display: block;
  margin-right: 4px;
  border-radius: 100%;
}

/* Related posts styles - end
	====================================================================== */
/* ==========================================================================
   Blog Single style - begin
   ========================================================================== */
.edgtf-blog-holder.edgtf-blog-single article {
  margin: 0 0 40px;
}

.edgtf-blog-holder.edgtf-blog-single article .edgtf-post-heading {
  margin-bottom: 40px;
}

/* ==========================================================================
   Blog Single style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode global style - begin
   ========================================================================== */
.edgtf-blog-list-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  clear: both;
}

.edgtf-blog-list-holder .edgtf-blog-list {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  list-style: none;
  margin: 0;
  padding: 0;
}

.edgtf-blog-list-holder .edgtf-bl-item {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.edgtf-blog-list-holder .edgtf-bli-inner {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.edgtf-blog-list-holder .edgtf-bli-content {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.edgtf-blog-list-holder .edgtf-post-image {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 30px;
}

.edgtf-blog-list-holder .edgtf-post-image a {
  position: relative;
}

.edgtf-blog-list-holder .edgtf-post-image a, .edgtf-blog-list-holder .edgtf-post-image img {
  display: block;
}

.edgtf-blog-list-holder .edgtf-post-image:hover ~ .edgtf-bli-content .edgtf-post-title a {
  color: #35c5d5;
}

.edgtf-blog-list-holder .edgtf-bli-info {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  clear: both;
}

.edgtf-blog-list-holder .edgtf-bli-info > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  float: left;
  margin-right: 15px;
}

.edgtf-blog-list-holder .edgtf-bli-info > div:last-child {
  margin-right: 0;
}

.edgtf-blog-list-holder .edgtf-bli-info > div a {
  display: block;
  line-height: inherit;
}

.edgtf-blog-list-holder .edgtf-bli-info-top {
  margin: 0 0 9px;
}

.edgtf-blog-list-holder .edgtf-bli-info-bottom {
  margin: 28px 0 0;
}

.edgtf-blog-list-holder .edgtf-bli-info-bottom > div {
  line-height: 1;
}

.edgtf-blog-list-holder .edgtf-bli-info-bottom > div.edgtf-post-info-author a {
  line-height: 20px;
}

.edgtf-blog-list-holder .edgtf-bli-info-bottom > div.edgtf-post-info-author a > span {
  display: inline-block;
  vertical-align: top;
  line-height: inherit;
}

.edgtf-blog-list-holder .edgtf-bli-info-bottom > div.edgtf-post-info-author img {
  display: block;
  margin-right: 4px;
  border-radius: 100%;
}

.edgtf-blog-list-holder .edgtf-bli-inner .edgtf-post-title {
  margin: 0;
}

.edgtf-blog-list-holder .edgtf-bli-inner .edgtf-post-title a {
  position: relative;
  display: inline-block;
  -webkit-transition: color 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: color 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: color 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.edgtf-blog-list-holder .edgtf-bli-inner .edgtf-post-title a:hover {
  color: #35c5d5;
}

.edgtf-blog-list-holder .edgtf-post-excerpt {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 8px 0 0;
}

.edgtf-blog-list-holder .edgtf-post-excerpt p {
  margin: 0;
}

/* ==========================================================================
   Blog List shortcode global style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Masonry type style - begin
   ========================================================================== */
.edgtf-blog-list-holder.edgtf-bl-masonry {
  transition: none !important;
  overflow: visible !important;
}

.edgtf-blog-list-holder.edgtf-bl-masonry .edgtf-blog-list {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.edgtf-blog-list-holder.edgtf-bl-masonry .edgtf-bl-item {
  vertical-align: top;
  z-index: 100;
}

.edgtf-blog-list-holder.edgtf-bl-masonry .edgtf-bl-item,
.edgtf-blog-list-holder.edgtf-bl-masonry .edgtf-bl-grid-sizer {
  width: 100%;
}

.edgtf-blog-list-holder.edgtf-bl-masonry .edgtf-bl-grid-gutter {
  width: 0;
}

.edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-two-columns .edgtf-bl-item,
.edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-two-columns .edgtf-bl-grid-sizer {
  width: 50%;
}

.edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-three-columns .edgtf-bl-item,
.edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-three-columns .edgtf-bl-grid-sizer {
  width: 33.33333%;
}

.edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-four-columns .edgtf-bl-item,
.edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-four-columns .edgtf-bl-grid-sizer {
  width: 25%;
}

.edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-five-columns .edgtf-bl-item,
.edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-five-columns .edgtf-bl-grid-sizer {
  width: 20%;
}

/* ==========================================================================
   Blog List shortcode - Masonry type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Simple type style - begin
   ========================================================================== */
.edgtf-blog-list-holder.edgtf-bl-simple .edgtf-post-image {
  display: table-cell;
  vertical-align: top;
  width: 80px;
}

.edgtf-blog-list-holder.edgtf-bl-simple .edgtf-bli-content {
  display: table-cell;
  vertical-align: top;
  width: auto;
  padding-left: 20px;
}

/* ==========================================================================
   Blog List shortcode - Simple type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Standard type style - begin
   ========================================================================== */
.edgtf-blog-list-holder.edgtf-bl-standard:not(.edgtf-bl-one-column) .edgtf-bl-item {
  float: left;
}

.edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-two-columns .edgtf-bl-item {
  width: 50%;
}

@media only screen and (min-width: 1025px) {
  .edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-two-columns .edgtf-bl-item:nth-child(2n+1) {
    clear: both;
  }
}

.edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-three-columns .edgtf-bl-item {
  width: 33.33333%;
}

@media only screen and (min-width: 1025px) {
  .edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-three-columns .edgtf-bl-item:nth-child(3n+1) {
    clear: both;
  }
}

.edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-four-columns .edgtf-bl-item {
  width: 25%;
}

@media only screen and (min-width: 1281px) {
  .edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-four-columns .edgtf-bl-item:nth-child(4n+1) {
    clear: both;
  }
}

.edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-five-columns .edgtf-bl-item {
  width: 20%;
}

@media only screen and (min-width: 1281px) {
  .edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-five-columns .edgtf-bl-item:nth-child(5n+1) {
    clear: both;
  }
}

/* ==========================================================================
   Blog List shortcode - Standard type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List loading element style - begin
   ========================================================================== */
.edgtf-bl-loading {
  position: relative;
  display: none;
  width: 100%;
  margin: 40px 0 20px;
  text-align: center;
}

.edgtf-bl-loading.edgtf-showing {
  display: block;
}

.edgtf-bl-loading > div {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  margin: 0 3px;
  background-color: #232322;
  border-radius: 100%;
  -webkit-animation: bl-bouncedelay 1.4s infinite ease-in-out both;
  -moz-animation: bl-bouncedelay 1.4s infinite ease-in-out both;
  animation: bl-bouncedelay 1.4s infinite ease-in-out both;
}

.edgtf-bl-loading .edgtf-bl-loading-bounce1 {
  -webkit-animation-delay: -0.32s;
  -moz-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.edgtf-bl-loading .edgtf-bl-loading-bounce2 {
  -webkit-animation-delay: -0.16s;
  -moz-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bl-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes bl-bouncedelay {
  0%, 80%, 100% {
    -moz-transform: scale(0);
  }
  40% {
    -moz-transform: scale(1);
  }
}

@keyframes bl-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* ==========================================================================
   Blog List loading element style - end
   ========================================================================== */
/* ==========================================================================
   Blog Slider shortcode style - begin
   ========================================================================== */
.edgtf-blog-slider-holder {
  /***** Slider Type Style - begin *****/
  /***** Slider Type Style - end *****/
  /***** Carousel Type Style - begin *****/
  /***** Carousel Type Style - end *****/
  /***** Carousel Centered Type Style - begin *****/
  /***** Carousel Centered Type Style - end *****/
}

.edgtf-blog-slider-holder.edgtf-bs-slider .edgtf-blog-slider-item {
  text-align: center;
}

.touch .edgtf-blog-slider-holder.edgtf-bs-slider .edgtf-blog-slider-item {
  cursor: pointer;
}

.edgtf-blog-slider-holder.edgtf-bs-slider .edgtf-blog-slider-item:hover .edgtf-item-text-wrapper {
  opacity: 1;
}

.edgtf-blog-slider-holder.edgtf-bs-slider .edgtf-bli-info {
  width: auto;
}

.edgtf-blog-slider-holder.edgtf-bs-slider .edgtf-bli-info > div {
  color: #fff;
}

.edgtf-blog-slider-holder.edgtf-bs-slider .edgtf-bli-info > div a {
  color: inherit;
}

.edgtf-blog-slider-holder.edgtf-bs-slider .edgtf-bli-info > div a:hover {
  color: #35c5d5;
}

.edgtf-blog-slider-holder.edgtf-bs-slider .edgtf-post-title {
  color: #fff;
}

.edgtf-blog-slider-holder.edgtf-bs-slider .edgtf-post-title a:hover {
  color: #35c5d5;
}

.edgtf-blog-slider-holder.edgtf-bs-slider .edgtf-post-excerpt {
  color: #fff;
}

.edgtf-blog-slider-holder.edgtf-bs-carousel .edgtf-item-image a:hover:after {
  opacity: 1;
}

.edgtf-blog-slider-holder.edgtf-bs-carousel .edgtf-item-image a:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  background-color: rgba(35, 35, 34, 0.4);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.edgtf-blog-slider-holder.edgtf-bs-carousel-centered .active.center .edgtf-item-text-wrapper {
  opacity: 1;
}

.edgtf-blog-slider-holder.edgtf-bs-carousel-centered .edgtf-blog-slider-item {
  text-align: center;
}

.edgtf-blog-slider-holder.edgtf-bs-carousel-centered .edgtf-bli-info {
  width: auto;
}

.edgtf-blog-slider-holder.edgtf-bs-carousel-centered .edgtf-bli-info > div {
  color: #fff;
}

.edgtf-blog-slider-holder.edgtf-bs-carousel-centered .edgtf-bli-info > div a {
  color: inherit;
}

.edgtf-blog-slider-holder.edgtf-bs-carousel-centered .edgtf-bli-info > div a:hover {
  color: #35c5d5;
}

.edgtf-blog-slider-holder.edgtf-bs-carousel-centered .edgtf-post-title {
  color: #fff;
}

.edgtf-blog-slider-holder.edgtf-bs-carousel-centered .edgtf-post-title a:hover {
  color: #35c5d5;
}

.edgtf-blog-slider-holder.edgtf-bs-carousel-centered .edgtf-post-excerpt {
  color: #fff;
}

.edgtf-blog-slider-holder .edgtf-blog-slider-item {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  list-style-type: none;
}

.edgtf-blog-slider-holder .edgtf-item-image {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.edgtf-blog-slider-holder .edgtf-item-text-wrapper {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(35, 35, 34, 0.4);
  opacity: 0;
  -webkit-transition: opacity 0.45s ease-out;
  -moz-transition: opacity 0.45s ease-out;
  transition: opacity 0.45s ease-out;
}

.edgtf-blog-slider-holder .edgtf-item-text-holder {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.edgtf-blog-slider-holder .edgtf-item-text-holder-inner {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  padding: 0 5%;
}

.edgtf-blog-slider-holder .edgtf-bli-info {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  clear: both;
}

.edgtf-blog-slider-holder .edgtf-bli-info > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  float: left;
  margin-right: 15px;
}

.edgtf-blog-slider-holder .edgtf-bli-info > div:last-child {
  margin-right: 0;
}

.edgtf-blog-slider-holder .edgtf-bli-info > div a {
  display: block;
  line-height: inherit;
}

.edgtf-blog-slider-holder .edgtf-bli-info-top {
  margin: 0 0 9px;
}

.edgtf-blog-slider-holder .edgtf-bli-info-bottom {
  margin: 28px 0 0;
}

.edgtf-blog-slider-holder .edgtf-bli-info-bottom > div {
  line-height: 1;
}

.edgtf-blog-slider-holder .edgtf-bli-info-bottom > div.edgtf-post-info-author a {
  line-height: 20px;
}

.edgtf-blog-slider-holder .edgtf-bli-info-bottom > div.edgtf-post-info-author a > span {
  display: inline-block;
  vertical-align: top;
  line-height: inherit;
}

.edgtf-blog-slider-holder .edgtf-bli-info-bottom > div.edgtf-post-info-author img {
  display: block;
  margin-right: 4px;
  border-radius: 100%;
}

.edgtf-blog-slider-holder .edgtf-post-title {
  margin: 0;
}

.edgtf-blog-slider-holder .edgtf-post-excerpt {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 8px 0 0;
}

.edgtf-blog-slider-holder .edgtf-post-excerpt p {
  margin: 0;
}

/* ==========================================================================
   Blog Slider shortcode style - end
   ========================================================================== */
/* ==========================================================================
   Blog styles - end
   ========================================================================== */

/*# sourceMappingURL=blog-map.css.map */
