/* ==========================================================================
   Side area styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* mixins styles - start */
/* mixins styles - end */
/* ==========================================================================
# Side area style - begin
========================================================================== */
.edgtf-light-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-side-menu-button-opener,
.edgtf-light-header .edgtf-top-bar .edgtf-side-menu-button-opener {
  color: #fff !important;
}

.edgtf-light-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-side-menu-button-opener.opened, .edgtf-light-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-side-menu-button-opener:hover,
.edgtf-light-header .edgtf-top-bar .edgtf-side-menu-button-opener.opened,
.edgtf-light-header .edgtf-top-bar .edgtf-side-menu-button-opener:hover {
  color: #35c5d5 !important;
}

.edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-side-menu-button-opener,
.edgtf-dark-header .edgtf-top-bar .edgtf-side-menu-button-opener {
  color: #232322 !important;
}

.edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-side-menu-button-opener.opened, .edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-side-menu-button-opener:hover,
.edgtf-dark-header .edgtf-top-bar .edgtf-side-menu-button-opener.opened,
.edgtf-dark-header .edgtf-top-bar .edgtf-side-menu-button-opener:hover {
  color: #35c5d5 !important;
}

.edgtf-side-menu-button-opener {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  line-height: 1;
}

.edgtf-side-menu-button-opener .edgtf-sm-lines {
  position: relative;
  display: inline-block;
  vertical-align: top;
  top: 2px;
  width: 20px;
  height: 15px;
  line-height: inherit;
}

.edgtf-side-menu-button-opener .edgtf-sm-line {
  position: absolute;
  left: 0;
  display: inline-block;
  vertical-align: top;
  height: 3px;
  background-color: currentColor;
  -webkit-transition: width 0.2s ease-out;
  -moz-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}

.edgtf-side-menu-button-opener .edgtf-sm-line.edgtf-sm-line-1 {
  top: 0;
  width: 14px;
}

.edgtf-side-menu-button-opener .edgtf-sm-line.edgtf-sm-line-2 {
  top: 6px;
  width: 17px;
}

.edgtf-side-menu-button-opener .edgtf-sm-line.edgtf-sm-line-3 {
  bottom: 0;
  width: 20px;
}

.edgtf-side-menu-button-opener.opened, .edgtf-side-menu-button-opener:hover {
  color: #35c5d5;
}

.edgtf-side-menu-button-opener.opened .edgtf-sm-line.edgtf-sm-line-1, .edgtf-side-menu-button-opener:hover .edgtf-sm-line.edgtf-sm-line-1 {
  width: 20px;
}

.edgtf-side-menu-button-opener.opened .edgtf-sm-line.edgtf-sm-line-3, .edgtf-side-menu-button-opener:hover .edgtf-sm-line.edgtf-sm-line-3 {
  width: 14px;
}

.edgtf-side-menu {
  position: fixed;
  top: 0;
  right: -422px;
  width: 422px;
  height: 100%;
  min-height: 100%;
  padding: 100px 62px 30px;
  background-color: #232322;
  text-align: left;
  overflow: hidden;
  visibility: hidden;
  z-index: 9999;
  -webkit-backface-visibility: hidden;
  box-sizing: border-box;
  -webkit-transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.edgtf-side-menu a.edgtf-close-side-menu {
  position: absolute;
  top: 40px;
  right: 52px;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  font-size: 34px;
  line-height: 1;
  z-index: 1000;
}

.admin-bar .edgtf-side-menu a.edgtf-close-side-menu {
  top: 72px;
}

.edgtf-side-menu a.edgtf-close-side-menu:hover {
  color: #35c5d5;
}

.edgtf-side-menu a.edgtf-close-side-menu span {
  display: block;
  line-height: inherit;
}

.edgtf-side-menu a.edgtf-close-side-menu span:before {
  display: block;
  line-height: inherit;
}

.edgtf-side-menu-slide-from-right.edgtf-right-side-menu-opened .edgtf-wrapper .edgtf-cover {
  opacity: 1;
  z-index: 3000;
}

.edgtf-side-menu-slide-from-right.edgtf-right-side-menu-opened .edgtf-side-menu {
  right: 0;
  visibility: visible;
}

.edgtf-side-menu-slide-from-right .edgtf-wrapper .edgtf-cover {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  background-color: rgba(35, 35, 34, 0.86);
  -webkit-transition: opacity 0.2s ease 0.1s;
  -moz-transition: opacity 0.2s ease 0.1s;
  transition: opacity 0.2s ease 0.1s;
}

/* ==========================================================================
# Side area style - end
========================================================================== */
/* ==========================================================================
   Side area styles - end
   ========================================================================== */

/*# sourceMappingURL=sidearea-map.css.map */
