h1 { font-family: Josefin Sans;font-size: 55px;}h2 { font-size: 40px;}h3 { font-size: 33px;}p { font-size: 24px;}.error404 .edgtf-page-header .edgtf-menu-area { background-color: rgba(160, 160, 160, 0) !important;}			@media only screen and (max-width: 1024px) {
			.edgtf-mobile-header .edgtf-mobile-logo-wrapper a { height: 50px !important;}			}
					@media only screen and (max-width: 480px) {
			.edgtf-mobile-header .edgtf-mobile-logo-wrapper a { height: 40px !important;}			}
		.edgtf-header-box .edgtf-top-bar-background { height: 91px;}.edgtf-header-centered .edgtf-logo-area .edgtf-logo-wrapper { padding: ;}